# Your database server host, for example: localhost
DB_HOST="localhost"

# Your database server port, for example: 3306
DB_PORT="3306"

# Your database username
DB_USER="root"

# Your database password
DB_PASSWORD=""

# Your database name
DB_NAME="gmart-product-catalog"

JWT_SECRET="super_secret_gmart_key_2026"